<!doctype html>
<html lang="en">
<head>
        <meta charset="utf-8">
    <title>
        Edit Profile
    </title>
</head>

<body>
    
</body>
    <p><%= msg %></p>
    <form id="editProfile" action="/profile/edit" method="POST" enctype="multipart/form-data">
        <label>Profile Pic</label>
        <input type="file" name="profilePic"><br><br>
        <label>Username</label>
        <input type="text" name="userName"><br><br>
        <label>Name</label>
        <input type="text" name="fullName"><br><br>
        <label>BirthDate</label>
        <input type="date" name="DOB"><br><br>
        <label>Bio</label>
        <textarea rows="4" cols="50" name="Bio"></textarea><br><br>
        <input type="submit" value="Save">
    </form>
</html>