<!doctype html>
<html lang="en">
<head>
        <meta charset="utf-8">
    <title>
        Home
    </title>
</head>

<body>
    HomePage!
    <form id="homeForm" action="/login" method="GET">
        <input type="submit" value="Logout">  
    </form>

    <form id="homeForm" action="/profile" method="GET">
        <input type="submit" value="Profile">
    </form>
</body>

</html>