<!doctype html>
<html lang="en">
<head>
        <meta charset="utf-8">
    <title>
        Login
    </title>
</head>

<body>
    <p><%= msg %></p>
    <form id="loginForm" action="\login" method="POST">
        <label>Username</label>
        <input type="text" name="userName">
        <label>Password</label>
        <input type="password" name="passWord"><br>
        <input type="submit" value="Login">
    </form>
    <br><br>
    <form action="/signup" method="GET">
        <input type="submit" value="Signup" />
    </form>
</body>

</html>