<!doctype html>
<html lang="en">
<head>
        <meta charset="utf-8">
    <title>
        Profile
    </title>
</head>

<body>
    ProfilePage!
    <form id="profileForm" action="/profile/edit" method="GET">
        <input type="submit" name="editProfile" value="Edit Profile">
    </form>
    
</body>

</html>