<!doctype html>
<html lang="en">
<head>
        <meta charset="utf-8">
    <title>
        Signup
    </title>
</head>

<body>
    <form id="loginForm" action="\signup" method="POST">
        <label>Username</label>
        <input type="text" name="userName">
        <label>Email</label>
        <input type="email" name="email">
        <label>Password</label>
        <input type="password" name="passWord">
        <input type="submit" value="SignUp">
    </form>
</body>

</html>