<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>

<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
<script  type="text/javascript" src="../JS/typeahead.min.js"></script>
<script src="http://code.jquery.com/jquery-1.10.2.min.js"></script>
<script src="http://netdna.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
<script src="https://use.fontawesome.com/cb2d0db4c2.js"></script>
<script type="text/javascript">
        $(document).ready(function(){
            $('input.typeahead').typeahead({
                name: 'countries',
                remote: 'http://localhost:3000/profile/search?key=%QUERY',
                limit: 10
            });

            $('#likeImage').click(function(){
                //alert('Hii');
                let flag=1;  
                if($('#likeImage').val()=='dislike')
                flag=0;


                if($('#likeImage').val()=='like'){
                    //$('#likeImage').html('dislike');
                    $('#likeImage').attr('value',"dislike");
                }
                else{
                    //$('#likeImage').html('like');
                    $('#likeImage').attr('value',"like");
                }
                $.ajax({
                    url: "/profile/postFeed/"+1+"/likeImage/"+flag, 
                    type:"POST",
                    timeout:500,
                    //dataType:'json',
                    success: function(){
                        //
                        alert('Liked!');
                    },
                    error:function(error){
                        throw error;
                    }
                });
            });
            
            /*$(window).scroll(function() {
                if($(window).scrollTop() == $(document).height() - $(window).height()) {
                // ajax call get data from server and append to the div
                    ('#add-data').append('<li>Main<li>')
                }
            });*/
    });
    function showFeed(id){
            window.location='/showfeed/'+id;
            return false;
    }

    function showAccount(username){
            window.location='/account/'+username;
            return false;
    }

    function likeImage(feedname,data){
                //alert(feedname);
                let flag=1;  
                if($(data).val()=='dislike')
                flag=0;


                if($(data).val()=='like'){
                    //$(data).html('dislike');
                    $(data).attr('value',"dislike");
                }
                else{
                    //$(data).html('like');
                    $(data).attr('value',"like");
                }
                $.ajax({
                    url: "/profile/postFeed/"+feedname+"/likeImage/"+flag, 
                    type:"POST",
                    timeout:500,
                    //dataType:'json',
                    success: function(){
                        //
                        alert(url);
                        //alert('Liked!');
                    },
                    error:function(error){
                        throw error;
                    }
                });
    }

     

</script>
</head>
<body>
    <div class="container">
    <nav class="navbar navbar-default navbar-fixed-top navbar-inverse">
                    <div class="container">
                        <!-- Brand and toggle get grouped for better mobile display -->
                        <div class="navbar-header">
                            <button aria-expanded="false" class="navbar-toggle collapsed" data-target="#bs-example-navbar-collapse-1" data-toggle="collapse" type="button">
                                <span class="sr-only">
                                    Toggle navigation
                                </span>
                                <span class="icon-bar">
                                </span>
                                <span class="icon-bar">
                                </span>
                                <span class="icon-bar">
                                </span>
                            </button>
                            <a class="navbar-brand" href="#">
                                Brand
                            </a>
                        </div>
                        <!-- Search Navbar -->
                        <form class="navbar-form navbar-left search-container hidden-xs" role="search">
                            <div class="form-group">
                                <input class="form-control" placeholder="Search" type="text">
                                </input>
                            </div>
                            <button class="btn btn-default btn-search" type="submit">
                                <i aria-hidden="true" class="fa fa-search text-center">
                                </i>
                            </button>
                        </form>
                        <!--END Search navbar -->
                        <!-- Collect the nav links, forms, and other content for toggling -->
                        <div class="collapse navbar-collapse navbar-right" id="bs-example-navbar-collapse-1">
                            <ul class="nav navbar-nav navbar-left">
                                <!--Search xs -->
                                <li class="visible-xs ">
                                    <form class="navbar-form navbar-left search-xs" role="search">
                                        <div class="form-group">
                                            <input class="form-control" placeholder="Search" type="text">
                                            </input>
                                        </div>
                                        <button class="btn btn-default search-btn-xs pull-right" type="submit">
                                            Submit
                                        </button>
                                    </form>
                                </li>
                                <!-- END Search xs -->
                                <li class="active">
                                    <a href="#">
                                        Home
                                        <span class="sr-only">
                                            (current)
                                        </span>
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        Profile
                                    </a>
                                </li>
                                <li data-placement="bottom" data-toggle="tooltip" title="Friend requests">
                                    <a href="">
                                        <i aria-hidden="true" class="fa fa-user">
                                        </i>
                                    </a>
                                </li>
                                <li data-placement="bottom" data-toggle="tooltip" title="Messages">
                                    <a href="">
                                        <i aria-hidden="true" class="fa fa-envelope-o">
                                        </i>
                                    </a>
                                </li>
                                <li data-placement="bottom" data-toggle="tooltip" title="Notifications">
                                    <a href="">
                                        <i aria-hidden="true" class="fa fa-globe">
                                        </i>
                                    </a>
                                </li>
                                <li class="dropdown">
                                    <a aria-expanded="false" aria-haspopup="true" class="dropdown-toggle" data-toggle="dropdown" href="#" role="button">
                                        <i aria-hidden="true" class="fa fa-wrench">
                                        </i>
                                        <span class="caret">
                                        </span>
                                    </a>
                                    <ul class="dropdown-menu">
                                        <li>
                                            <a href="config.html">
                                                Configurations
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#">
                                                Another action
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#">
                                                Something else here
                                            </a>
                                        </li>
                                        <li class="divider" role="separator">
                                        </li>
                                        <li>
                                            <a href="#">
                                                About
                                            </a>
                                        </li>
                                        <li class="divider" role="separator">
                                        </li>
                                        <li>
                                            <a data-target="#myModal" data-toggle="modal" href="#myModal">
                                                <i aria-hidden="true" class="fa fa-sign-out">
                                                </i>
                                                Exit
                                            </a>
                                        </li>
                                    </ul>
                                </li>
                            </ul>
                        </div>
                        <!-- /.navbar-collxapse -->
                    </div>
                    <!-- /.container-fluid -->
                </nav>
                <!-- Configuration Modal -->
                <div class="modal fade" id="myModal" role="dialog" tabindex="-1">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <button aria-label="Close" class="close" data-dismiss="modal" type="button">
                                    <span aria-hidden="true">
                                        ×
                                    </span>
                                </button>
                                <h4 class="modal-title">
                                    <i aria-hidden="true" class="fa fa-sign-out">
                                    </i>
                                    Exit
                                </h4>
                            </div>
                            <div class="modal-body">
                                <p>
                                    Are you sure you want to quit?
                                </p>
                            </div>
                            <div class="modal-footer">
                                <button class="btn btn-default" data-dismiss="modal" type="button">
                                    Close
                                </button>
                                <button class="btn btn-primary" type="button">
                                    Exit
                                </button>
                            </div>
                        </div>
                        <!-- /.modal-content -->
                    </div>
                    <!-- /.modal-dialog -->
                </div>
                <!-- Configuration modal -->
    </div>
    

     
    

    <div id="load-feed">
        <% for(var i=0; i < feedResult.length; i++) { %>
            <label onclick="showAccount('<%=feedResult[i].username%>')"><%=feedResult[i].username%></label><br>
            <img id="<%=feedResult[i].feedname%>" onclick="showFeed(this.id);return false;"  src="profilepics/<%=feedResult[i].feedname%>" height="500px" width="500px"><br>
            <input type="button" id="like-btn-<%=feedResult[i].feedname%>" onclick="likeImage('<%=feedResult[i].feedname%>',this)" value="<%=feedResult[i].isliked%>" >
            <button onclick="showFeed('<%=feedResult[i].feedname%>')">Comment</button>
            <br><br>
            &nbsp;&nbsp;&nbsp;&nbsp;
        <% } %>
    </div>
    <script>
        $('#search-user-form').submit(function(){
        let username = $('#search-text').val();
        //alert(username);
        $(this).attr('action', "/account/" + username);
        }); 
    </script>
</body>
</html>



<!--
    HomePage!
    <form id="homeForm" action="/login" method="GET">
        <input type="submit" value="Logout">  
    </form>

    <form id="homeForm" action="/profile" method="GET">
        <input type="submit" value="Profile">
    </form>
-->























<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>

<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
<script  type="text/javascript" src="../JS/typeahead.min.js"></script>
<script src="http://code.jquery.com/jquery-1.10.2.min.js"></script>
<script src="http://netdna.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
<script src="https://use.fontawesome.com/cb2d0db4c2.js"></script>
<script type="text/javascript">
        $(document).ready(function(){
            $('input.typeahead').typeahead({
                name: 'countries',
                remote: 'http://localhost:3000/profile/search?key=%QUERY',
                limit: 10
            });

            $('#likeImage').click(function(){
                //alert('Hii');
                let flag=1;  
                if($('#likeImage').val()=='dislike')
                flag=0;


                if($('#likeImage').val()=='like'){
                    //$('#likeImage').html('dislike');
                    $('#likeImage').attr('value',"dislike");
                }
                else{
                    //$('#likeImage').html('like');
                    $('#likeImage').attr('value',"like");
                }
                $.ajax({
                    url: "/profile/postFeed/"+1+"/likeImage/"+flag, 
                    type:"POST",
                    timeout:500,
                    //dataType:'json',
                    success: function(){
                        //
                        alert('Liked!');
                    },
                    error:function(error){
                        throw error;
                    }
                });
            });
            
            /*$(window).scroll(function() {
                if($(window).scrollTop() == $(document).height() - $(window).height()) {
                // ajax call get data from server and append to the div
                    ('#add-data').append('<li>Main<li>')
                }
            });*/
    });
    function showFeed(id){
            window.location='/showfeed/'+id;
            return false;
    }

    function showAccount(username){
            window.location='/account/'+username;
            return false;
    }

    function likeImage(feedname,data){
                //alert(feedname);
                let flag=1;  
                if($(data).val()=='dislike')
                flag=0;


                if($(data).val()=='like'){
                    //$(data).html('dislike');
                    $(data).attr('value',"dislike");
                }
                else{
                    //$(data).html('like');
                    $(data).attr('value',"like");
                }
                $.ajax({
                    url: "/profile/postFeed/"+feedname+"/likeImage/"+flag, 
                    type:"POST",
                    timeout:500,
                    //dataType:'json',
                    success: function(){
                        //
                        alert(url);
                        //alert('Liked!');
                    },
                    error:function(error){
                        throw error;
                    }
                });
    }

     

</script>
</head>
<body>
    <input type="text" id="search-text" class="typeahead tt-query" name="typeahead" autocomplete="off" spellcheck="false" placeholder="Type username">

    <div class="container">
    <nav class="navbar navbar-default navbar-fixed-top navbar-inverse">
                    <div class="container">
                        <!-- Brand and toggle get grouped for better mobile display -->
                        <div class="navbar-header">
                            <button aria-expanded="false" class="navbar-toggle collapsed" data-target="#bs-example-navbar-collapse-1" data-toggle="collapse" type="button">
                                <span class="sr-only">
                                    Toggle navigation
                                </span>
                                <span class="icon-bar">
                                </span>
                                <span class="icon-bar">
                                </span>
                                <span class="icon-bar">
                                </span>
                            </button>
                            <a class="navbar-brand" href="#">
                                Social-Network-Logo
                            </a>
                        </div>
                        <!-- Search Navbar -->
                        <form class="navbar-form navbar-left search-container hidden-xs" role="search">
                            <div class="form-group">
                                <!--<input class="form-control" placeholder="Search" type="text">
                                </input>-->
                                <input type="text" id="search-text" class="typeahead tt-query" name="typeahead" autocomplete="off" spellcheck="false" placeholder="Type username">

                            </div>
                            <button class="btn btn-default btn-search" type="submit">
                                <i aria-hidden="true" class="fa fa-search text-center">
                                </i>
                            </button>
                        </form>
                        <!--END Search navbar -->
                        <!-- Collect the nav links, forms, and other content for toggling -->
                        <div class="collapse navbar-collapse navbar-right" id="bs-example-navbar-collapse-1">
                            <ul class="nav navbar-nav navbar-left">
                                <!--Search xs -->
                                <li class="visible-xs ">
                                    <form class="navbar-form navbar-left search-xs" role="search">
                                        <div class="form-group">
                                            <input class="form-control" placeholder="Search" type="text">
                                            </input>
                                        </div>
                                        <button class="btn btn-default search-btn-xs pull-right" type="submit">
                                            Submit
                                        </button>
                                    </form>
                                </li>
                                <!-- END Search xs -->
                                <li class="active"><a href="/">Home</a></li>
                                <li><a href="/profile">Profile</a></li>
                                <li><a href="/login">Logout</a></li>
                            </ul>
                        </div>
                        <!-- /.navbar-collxapse -->
                    </div>
                    <!-- /.container-fluid -->
                </nav>
                <!-- Configuration Modal -->
                <div class="modal fade" id="myModal" role="dialog" tabindex="-1">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <button aria-label="Close" class="close" data-dismiss="modal" type="button">
                                    <span aria-hidden="true">
                                        ×
                                    </span>
                                </button>
                                <h4 class="modal-title">
                                    <i aria-hidden="true" class="fa fa-sign-out">
                                    </i>
                                    Exit
                                </h4>
                            </div>
                            <div class="modal-body">
                                <p>
                                    Are you sure you want to quit?
                                </p>
                            </div>
                            <div class="modal-footer">
                                <button class="btn btn-default" data-dismiss="modal" type="button">
                                    Close
                                </button>
                                <button class="btn btn-primary" type="button">
                                    Exit
                                </button>
                            </div>
                        </div>
                        <!-- /.modal-content -->
                    </div>
                    <!-- /.modal-dialog -->
                </div>
                <!-- Configuration modal -->
    </div>
    

     
    

    <div id="load-feed">
        <% for(var i=0; i < feedResult.length; i++) { %>
            <label onclick="showAccount('<%=feedResult[i].username%>')"><%=feedResult[i].username%></label><br>
            <img id="<%=feedResult[i].feedname%>" onclick="showFeed(this.id);return false;"  src="profilepics/<%=feedResult[i].feedname%>" height="500px" width="500px"><br>
            <input type="button" id="like-btn-<%=feedResult[i].feedname%>" onclick="likeImage('<%=feedResult[i].feedname%>',this)" value="<%=feedResult[i].isliked%>" >
            <button onclick="showFeed('<%=feedResult[i].feedname%>')">Comment</button>
            <br><br>
            &nbsp;&nbsp;&nbsp;&nbsp;
        <% } %>
    </div>
    <script>
        $('#search-user-form').submit(function(){
        let username = $('#search-text').val();
        //alert(username);
        $(this).attr('action', "/account/" + username);
        }); 
    </script>
</body>
</html>



<!--
    HomePage!
    <form id="homeForm" action="/login" method="GET">
        <input type="submit" value="Logout">  
    </form>

    <form id="homeForm" action="/profile" method="GET">
        <input type="submit" value="Profile">
    </form>
-->